:root{
    --header-bgc:#4F4D4D;
    --main-bgc:#676767;
    --footer-bg:#393939;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
header{
    background-color: var(--header-bgc);
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.dofus{
    width: 50px;
    height: 50px;
    border-radius: 150px;
    margin-right: 8px;
}
.header_ul{
    list-style: none;
    display: flex;
    font-size: 1.3rem;
}
.header_ul li{
    padding: 0px;
}
.header_ul a{
    color:white;
    padding: 10px;
    border-radius: 2px;
    text-decoration: none;
}
.header_ul a:hover{
    background-color: #878787;
    border-radius: 20px;
}
.header_ul a:active{
    color: red;
    background-color: black;
    border-radius: 20px;
}
main{
    background-color: var(--main-bgc);
    width: 100vw;
    height: 75vh;
    display: flex;
}
footer{
    background-color: var(--footer-bg);
    width: 100vw;
    height: 10vh;
}

